<!DOCTYPE html>
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css"
      integrity="sha256-mmgLkCYLUQbXn0B1SRqzHar6dCnv9oZFPEC1g1cwlkk="
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="css/style.css" />
    <title>Business Chat App</title>
  </head>
  <body>
    <div class="join-container">
      <header class="join-header">
        <h1><i class="fas fa-smile"></i> Business Chat App</h1>
      </header>
      <main class="join-main">
        <h1>Create User</h1>
        <form method="post">
          {% csrf_token %} {% if messages %} {% for message in messages %}
          <h3 style="color: red" class="alert {{ message.tags }}">
            {{ message }}
          </h3>
          {% endfor %} {% endif %}
          <small
            >NOTE: Username only contains letters, numbers, and underscores.
          </small>
          <label for="username">Username:</label>
          <input type="text" name="username" id="username" required /><br />
          <label for="password">Password:</label>
          <input type="password" name="password" id="password" required /><br />
          <label for="password2">Confirm Password:</label>
          <input
            type="password"
            name="password2"
            id="password2"
            required
          /><br />
          <button type="submit" class="btn">Create User</button>
          <button
            style="
              background-color: #4a5ee2;
              border-radius: 7px;
              cursor: pointer;
            "
            type="submit"
            class="btn"
          >
            <a style="text-decoration: none; color: white" href="home"
              >Log In</a
            >
          </button>
        </form>
      </main>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/darkmode-js@1.5.7/lib/darkmode-js.min.js"></script>
    <script src="../static/js/script.js"></script>
  </body>
</html>
